/*
@author; Enkhtsetseg Unurbayar
@small project: Dual Audio Player
index.css
*/

.players-container{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
}

.audio1 {
    margin: 15px;

    
}

.audio2 {
    margin: 15px;
    
}



 



